<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 支持RequestMappingHandlerMapping 例如 ： @requestMapping -->
	<!-- 注意 开头beans 要配置MVC的支持 -->
	<mvc:annotation-driven/>
	<!-- 扫描controller service组件 -->
	<!-- 注意 开头beans 要配置context的支持 -->
	<context:component-scan base-package="top.bowen"></context:component-scan>

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
	<bean id="config" class="top.bowen.common.Config">
		<property name="allowFileSize" value="${allowFileSize}" />
		<property name="imgUrl" value="${imgUrl}" />
	</bean>
</beans>

